<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>পাঠক | বাংলা টেক্সট-টু-স্পিচ</title>
	<meta name="og:image" content="http://mozillabd.org/static_content/7Efadnl.png">
	<meta name="description" content="ওয়েব-ভিত্তিক ওপেনসোর্স বাংলা টেক্সট-টু-স্পীচ ইঞ্জিন, এটি আপনার বাংলা লেখাকে পড়ে শোনাতে সক্ষম।">
	<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/united/bootstrap.min.css" rel="stylesheet">
	<link href="http://mozillabd.org/static_content/css/jumbo.css" rel="stylesheet">
</head>
<body onload="$('#speech-text').focus()">
	<div class="container">
		<div class="jumbotron">
			<h1>পাঠক</h1>
			<h2>বাংলা টেক্সট-টু-স্পিচ</h2>
			<audio style="margin-top: 1.5em;" src="/audio/{{path}}.wav" autoplay controls>আপনার ব্রাউজার HTML5 Audio সমর্থন করে না। আপনি ফায়ারফক্স ব্রাউজার ডাউনলোড করে এটি ব্যবহার করতে পারেন। ডাউনলোড করতে, <a href="http://www.mozilla.org/en-US/firefox/new/">ক্লিক করুn</a>।</audio><br /><br />
			<a class="btn btn-danger btn-large" href="/audio/{{path}}.wav" download>শব্দ ডাউনলোড করুন</a>
			<a class="btn btn-default btn-large" href="/">ফিরে যান</a>
			
			<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpathok.adhikary.net%2F&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=636592916387858" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;margin-top:13px;" allowTransparency="true"></iframe>

		</div>
		<div class="footer">
		<p style="text-align: center;">তৈরি করেছেন - <a href="http://adhikary.net">অনিরুদ্ধ অধিকারী</a> | <a href="https://github.com/aniruddha-adhikary/espeak-webui">সোর্স কোড</a> | <a href="https://github.com/aniruddha-adhikary/espeak-webui/issues">সমস্যা?</a> | মোজিলা পাবলিক লাইসেন্স ২.০ এর অধীনে প্রকাশিত</p>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49885990-1', 'adhikary.net');
  ga('send', 'pageview');

</script>
</body>
</html>
